<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/lib/select2/css/select2.min.css">
    <script src="/static/lib/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/core.css">
</head>
<body class="layui-layout-body">
<div th:include="::content"></div>
<script src="/static/lib/layui/layui.all.js"></script>
<script src="/static/lib/select2/js/select2.full.min.js"></script>
<script src="/static/js/core.js"></script>
</body>
</html>